*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas{
    background: radial-gradient(circle at bottom right, #B53471, #353b48 60%);
    background-size: cover;
}

 /* { color: rgba(65, 38, 165, 1); }
{ color: rgba(43, 32, 114, 1); }
{ color: rgba(26, 29, 89, 1); }
{ color: rgba(14, 26, 63, 1); }
{ color: rgba(7, 20, 38, 1); } */


